@charset "UTF-8";
/* ======================================================================= */
/*!
 * CUSTOM STYLESHEET
 * 01. HTML Basic Settings
 * 02. Header Area
 * 03. Main Area
 * 04. Sidebar Area
 * 05. Footer Area
 * 06. Original Module Settings
 */
/* ======================================================================= */

/*!
 * 01. HTML Basic Settings
 * ----------------------------------------------------------------------- */
html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  -webkit-tap-highlight-color: rgba(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  -webkit-tap-highlight-color: rgba(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/bg-main.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f9f9f9;
}

@media (max-width: 575.98px) {
  html {
    font-size: 14px;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
}
h1, .h1 {
  font-size: 1.5rem;
}
h2, .h2 {
  font-size: 1.4rem;
}
h3, .h3 {
  font-size: 1.3rem;
}
h4, .h4 {
  font-size: 1.2rem;
}
h5, .h5 {
  font-size: 1.1rem;
}
h6, .h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  /* transition: all .5s; */
}
a:hover {
  text-decoration: none;
}
a img {
  opacity: 1;
}
a:hover img {
  opacity: .8;
  transition: all .5s;
}
i {
  vertical-align: middle;
}
.bold{
    font-weight: bold;
}
/*!
 * 02. Header Area
 * ----------------------------------------------------------------------- */
.header {
}
.header .logo {
  max-width: 400px;
  align:center;
}
.header .empty-space {
  content: "";
  width: 40px;
}
.header .site-description {
  margin: 0;
  font-size: 1.2rem;
}

/*!
 * 03. Main Area
 * ----------------------------------------------------------------------- */


/* カテゴリーボタン */
.card.button {
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
}
.card.button .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: transparent;
}
.card.button .card-img-top {
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card.button .card-title {
  margin: 0;
  font-size: .8rem;
  font-weight: bold;
}
.badge-required {
  float: right;
  margin-top: .1rem;
  color: #0b4ea1;
  background-color: #b2dee6;
}
/* table */
.table.dataTable {
  font-size: .9rem;
}
.table.dataTable td, .table.dataTable th {
  padding: .5rem;
}
.dataTables_wrapper .dt-buttons .btn {
  font-size: .9rem;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
  margin: 0 10px;
  display: inline-block;
  font-size: .9rem;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
}
.dataTables_wrapper .dataTables_filter input[type="search"] {
  max-width: 8rem;
}
.dataTables_paginate {
  font-size: .9rem;
}

.table-info .nowrap{
    white-space:nowrap!important;
}
.table {
  white-space:nowrap;
}
/*!
 * 04. Sidebar Area
 * ----------------------------------------------------------------------- */


/*!
 * 05. Footer Area
 * ----------------------------------------------------------------------- */
/*
.footer {
  padding-bottom: 72px;
  color: #FFF;
  background-color: #ee771a;
}
.footer .copyright {
  color: #FFF;
}

.fixed-bottom-nav {
  color: #FFF;
  background-color: #23733c;
}
.fixed-bottom-nav .nav-item .nav-link {
  color: #FFF;
  text-decoration: none;
  border-right: 1px solid rgba(255,255,255,.25);
}
.fixed-bottom-nav .nav-item:first-of-type .nav-link {
  border-left: 1px solid rgba(255,255,255,.25);
}
@media (max-width: 575.98px) {
  .fixed-bottom-nav .nav-link {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: .8rem;
    white-space: nowrap !important;
  }
  .fixed-bottom-nav .nav-link .icon {
    padding: .25rem;
    font-size: 2rem;
  }
}
*/
